<div class="bgimg"></div>

<div class="banner">

  <a (click)="home()">
    <div class="citi"></div>
    <div class="rm"></div>
  </a>
  <div class="right" style="margin-right: 3vw; margin-top: 25px">
      <div class="left">
        <button class="btn btn-welcome" disabled="true">Welcome, {{temp}}</button>
      </div>
      <div class="right" style="top: 0px">
        <i class="fa fa-sign-out fa-2x logout" (click)="logout()"></i>
        <!-- <button class="btn btn-logout" (click)="logout()">Log Out</button> -->
      </div>
  </div>

</div>

<nav class="navbar navbar-fixed-top navbar" style="position: absolute; top: 90px; left: 2vw; z-index: 10">
  <p-tabMenu [model]="items"></p-tabMenu>
</nav>

<div class="app-container">
  <router-outlet></router-outlet>
 </div>
