.bgimg{
  position: fixed;
  background-image: url(../login/bg.jpg);
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.citi{
  position: fixed;
  margin-left: 3vw;
  margin-top: 22px;
  background: url(../login/citi.png);
  width: 55px;
  height: 36px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner{
  position: fixed;
  z-index:1000;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(black,0.5), rgba(47,79,112,0.5));
  border-bottom: 1.5px solid darkslategrey;
  width: 100vw;
  height: 80px;
  vertical-align: middle;
  text-align: right;
}

.app-container {
  border-radius: 5px;
  border-top-left-radius: 0px;
  border: 1px solid #bfbfbf;
  background-image: linear-gradient(to top, rgba(black,0.6), rgba(darkslategrey,0.5));
  position: relative;
  top: 66px;
  left: 1px;
  padding: 15px;
  margin: 15px;
}

.right {
  position: relative;
  float: right;
}

.left {
  position: relative;
  float: left;
  margin-right: 10px;
  top: -1px;
}
