<div class="bgimg"></div>

<div class="banner">

  <div class="citi"></div>

  <div class="right" style="margin-right: 3vw; margin-top: 25px">
      <div class="left">
        <button class="btn btn-welcome">Welcome, {{temp}}</button>
      </div>
      <div class="right">
        <button class="btn btn-logout" onclick="logout()">Log Out</button>
      </div>
  </div>

</div>

<nav class="navbar navbar-fixed-top navbar" style="position: absolute; top: 90px; left: 2vw; z-index: 10">
  <p-tabMenu [model]="items"></p-tabMenu>
</nav>

<div class="app-container">
  <router-outlet></router-outlet>
 </div>
