<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-8">
            <div class="row" style="margin-top: 30px; margin-left: 20px">
                    <p-table #dt [columns]="cols" [value]="tableData" [paginator]="true" [rows]="15" selectionMode="single" 
                    [(selection)]="selectedHolding" [scrollable]="true" [style]="{width:'900px'}" ngDefaultControl>
                            <ng-template pTemplate="caption">
                                    <div style="text-align: right">       
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                    </div>
                                </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}" style="text-align: center">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-holding let-columns="columns">
                                <tr [pSelectableRow]="holding" (click)="selectedRow()">
                                    <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}" style="text-align: center">
                                            {{holding[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
            </div>

            <div class="row" style="margin-top: 20px">
                <div class="col-sm-10"></div>
                <div class="col-sm-3">
                    <p-button label="Generate Chart" (onClick)="createChart()" style="margin-right: 20px"></p-button>
                </div>  
            </div>
        </div>
        <div class="col-sm-4" style="margin-top: 30px">
            <div class="row">
                <div id="chartdiv" style="width: 100%; height: 500px"></div>
            </div>
        </div>
    </div>
</div>