<div class="jumbotron text-center">
        <h1 style="font-family: 'Droid Sans Mono'; font-size: 50px">{{title}}</h1>
        <p style="font-size: large"><i>Group 3</i></p>
     </div>
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <div class="row" style="margin-top: 30px; margin-bottom: 20px">
                <h1>Create new account</h1>
            </div>
            <div class="row">
                <form [formGroup]="createAccountForm" (ngSubmit)="onCreateAccountSubmit()">

                    <div class="row addMargin">
                        <div class="input-container">
                            <i class="fa fa-user iconR"></i>
                            <input class="input-field" type="text" placeholder="First Name" formControlName="firstName" style="width: 360px">
                        </div>
                    </div>

                    <div class="row addMargin">
                        <div class="input-container">
                            <i class="fa fa-user iconR"></i>
                            <input class="input-field" type="text" placeholder="Last Name" formControlName="lastName">
                        </div>
                    </div>

                    <div class="row addMargin">
                        <div class="input-container">
                            <i class="fa fa-envelope iconR"></i>
                            <input class="input-field" type="text" placeholder="Email ID" formControlName="emailID">
                        </div>
                    </div>

                    <div class="row addMargin">
                        <div class="input-container">
                            <i class="fa fa-lock iconR"></i>
                            <input class="input-field" type="password" placeholder="Password" formControlName="password">
                        </div>
                    </div>

                    <div class="row addMargin">
                        <button class="btn btn-success" type="submit" [disabled]="!createAccountForm.valid">Register</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="col-sm-3"></div>
        <div class="col-sm-4">
            <div class="row" style="margin-top: 30px; margin-bottom: 20px">
                <h1>Welcome Back!</h1>
            </div>
            <div class="row">
                <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

                    <div class="row addMargin">

                        <div class="input-container">
                            <i class="fa fa-envelope icon"></i>
                            <input class="input-field" type="text" placeholder="Email ID" formControlName="emailId" style="width: 300px">
                        </div>
                    </div>

                    <div class="row addMargin">

                        <div class="input-container">
                            <i class="fa fa-key icon"></i>
                            <input class="input-field" type="password" placeholder="Password" formControlName="password">
                        </div>

                    </div>

                    <div class="row addMargin">
                        <button class="btn btn-primary" type="submit" (click)="onLoginSubmit()"
                        style="width: 100px">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="vl"></div>
</div>
