.jumbotron{
    height: 160px;
    margin: 10px;
    padding-top: 15px;
}

.containermine{
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    width: 1420px;
    height: 500px;
}

.row{
    width: 1420px;
    margin-left: 20px;
  }

.addMargin{
    margin-left: 150px;
    margin-top: 20px;
}

.vl {
    border-left: 3px solid gray;
    height: 500px;
    margin-top: 180px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }