.bgimg{
  position: fixed;
  background-image: url(bg.jpg);
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.citi{
  position: fixed;
  margin-left: 3vw;
  margin-top: 22px;
  background: url(citi.png);
  width: 55px;
  height: 36px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner{
  position: fixed;
  z-index:1000;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(black,0.5), rgba(darkslategray,0.5));
  box-shadow: 2px 2px 4px rgba(black, 0.75);
  width: 100vw;
  height: 80px;
  vertical-align: middle;
  text-align: right;
}

.cont{
  position: relative;
  top: 80px;
  height: calc(100%-80px);
  text-align: center;
}

.username{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  top: 15px;
}

.password{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  top: 15px;
}

.submit{
  position: relative;
  display: inline-block;
  margin: 10px;
  top: 15px;
  margin-right: 3vw;
}

.main{
  float: left;
  width: 750px;
  margin: 3vw;
  height: 483.59px;
  border-radius: 5px;
  background-image: linear-gradient(to top, rgba(black,0.75), rgba(darkslategrey,0.75));
  box-shadow: 4px 4px 4px rgba(black, 0.75);
  color: ivory;
  text-align: center;
  vertical-align: middle;
}

.register{
  float: right;
  width: 470px;
  margin: 3vw;
  margin-left: 0;
  height: 100%;
  border-radius: 5px;
  background-image: linear-gradient(to top, rgba(black,0.75), rgba(darkslategrey,0.75));
  box-shadow: 4px 4px 4px rgba(black, 0.75);
  color: ivory;
  text-align: center;
  vertical-align: middle;
}

.formi{
  margin: 25px;
  text-align: center;
  position: relative;
  float: none;
}

.forme{
  float: initial;
}

.forme.ng-invalid.ng-touched.ng-dirty {
  border: 2px solid rgba(red,0.6) !important;
}

.forme.ng-valid.ng-touched.ng-dirty {
  border: 2px solid rgba(green,0.6) !important;
}

.btn-primary:disabled {
  background-color: transparent;
  opacity: 1;
  border: 1px solid dodgerblue !important;
  color: dodgerblue;
  font-weight: bold;
}

.btn-success:disabled {
  background-color: transparent;
  opacity: 1;
  border: 2px solid dodgerblue !important;
  color: dodgerblue;
  font-weight: bold;
}

.parabox{
  position: relative;
  width: 750px;
  height: 350px;
  margin-top: 25px;
  vertical-align: middle;
}

.para{
  position: relative;
  width: 230px;
  height: 350px;
  margin: 5px;
  margin-top: 0px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.paraicon{
  position: relative;
  width: 100px;
  height: 100px;
  font-size:100px;
  margin-left: 60px;
  text-align: center !important;
  top: 20px;
  color: white;
}

.paratext{
  width: 230px;
  height: 100px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  margin-top: 90px;
  font-size: 18px;

}
