<!-- <p-radioButton
      label="Double cheese"
      name="pizza"
      value="double-cheese"
      >
    </p-radioButton><br>

    <p-radioButton
      label="Anchovy"
      name="pizza"
      value="anchovy"
      >
    </p-radioButton><br>

    <p-radioButton
      label="Meat lover's"
      name="pizza"
      value="meat-lover"
      >
    </p-radioButton>

    <div class="col-lg-4">
      <div class="row">
        <button type="button" class="btn btn-primary">Primary</button>
      </div>
      <div class="row">
        <button pButton type="button" label="Primary" class="ui-button-rounded"></button>
      </div>
    </div>



<p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" optionLabel="name" [filter]="true"></p-dropdown>

<p-dropdown [options]="cities2" [(ngModel)]="selectedCity2" optionLabel="name"></p-dropdown> -->

<router-outlet></router-outlet>
