<div class="container">
    <div class="row">
        <div class="col-sm-3"  >Symbol please</div>
        <div class="col-sm-7">
            <div class="row" style="margin-top: 30px">
                <div class="col-sm-4">
                <p-dropdown [(ngModel)]="selectedSecurity" [options]="securities" placeholder="Select a security"
                    optionLabel="label" autoWidth="false" [style]="autoWidth" >
                </p-dropdown></div>
                <div class="col-sm-4">
                <p-dropdown [(ngModel)]="selectedView" [options]="views" placeholder="Hold a view"
                        optionLabel="label" autoWidth="false" [style]="autoWidth">
                </p-dropdown></div>
            </div>
            <!-- <div class="row" style="margin-top: 30px">    
                <div class="col-sm-3">
                <p-dropdown [(ngModel)]="selectedExpiry" [options]="expiry" placeholder="Expiry Date"
                        optionLabel="label" autoWidth="false" [style]="autoWidth">
                </p-dropdown></div>
                </div>
                <div class="col-sm-3">
                    <div class="ui-float-label">
                    <input id="float-input" type="text" autoWidth="false" [style]="autoWidth" pInputText> 
                    <label for="float-input">Target</label>
                    </div>
                </div>
            </div>     -->
            <div class="row" style="margin-top: 30px">
                <div class="col-sm-4">
                <p-dropdown [(ngModel)]="selectedExpiry" [options]="expiry" placeholder="Expiry Date"
                        optionLabel="label" autoWidth="false" [style]="autoWidth">
                </p-dropdown></div>
                <div class="col-sm-4">
                    <div class="ui-float-label">
                    <input id="float-input" type="text" size = "21.5" width="25" pInputText> 
                    <label for="float-input">Target</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 30px"></div>
        <div class="col-sm-3"  ></div>
            <div class="col-sm-7"></div>
            <div><p-button label="Go" style="margin-left: 30px; margin-top: 15px" ></p-button>
            <div class="row" style="margin-top: 30px">
            <p-table #dt [columns]="cols" [value]="strategies" [paginator]="true" *ngIf="strategies.length > 0" selectionMode="multiple" 
                [(selection)]="selectedstrategies" [scrollable]="true" [style]="{width:'1200px'}" ngDefaultControl>
                <ng-template pTemplate="caption">
                    <!-- <div style="text-align: right">       
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div> -->
                </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <!-- <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-holding let-columns="columns">
                <tr [pSelectableRow]="holding" (click)="selectedRow()">
                    <td *ngFor="let col of columns">
                            {{holding[col.field]}}
                    </td>
                    <!-- <td>
                        <p-tableCheckbox [value]="holding"></p-tableCheckbox>
                    </td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>
</div>
