<div class="container">
    <div class="row">
        <div class="col-sm-3"  >Symbol please</div>
        <div class="col-sm-7">
            <div class="row" style="margin-top: 30px">
                <div class="col-sm-4">
                <p-dropdown [(ngModel)]="selectedSecurity" [options]="securities" placeholder="Select a security"
                    optionLabel="label" autoWidth="false" [style]="autoWidth" >
                </p-dropdown></div>
                <div class="col-sm-4">
                <p-dropdown [(ngModel)]="selectedView" [options]="views" placeholder="Hold a view"
                        optionLabel="label" autoWidth="false" [style]="autoWidth">
                </p-dropdown></div>
            </div>
            <!-- <div class="row" style="margin-top: 30px">    
                <div class="col-sm-3">
                <p-dropdown [(ngModel)]="selectedExpiry" [options]="expiry" placeholder="Expiry Date"
                        optionLabel="label" autoWidth="false" [style]="autoWidth">
                </p-dropdown></div>
                </div>
                <div class="col-sm-3">
                    <div class="ui-float-label">
                    <input id="float-input" type="text" autoWidth="false" [style]="autoWidth" pInputText> 
                    <label for="float-input">Target</label>
                    </div>
                </div>
            </div>     -->
            <div class="row" style="margin-top: 30px">
                <div class="col-sm-4">
                <p-dropdown [(ngModel)]="selectedExpiry" [options]="expiry" placeholder="Expiry Date"
                        optionLabel="label" autoWidth="false" [style]="autoWidth">
                </p-dropdown></div>
                <div class="col-sm-4">
                    <div class="ui-float-label">
                    <input id="float-input" type="number" [(ngModel)]="selectedTarget" size = "21.5" width="25" placeholder="Target" pInputText> 
                    <label for="float-input"></label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-top: 30px"></div>
        <div class="col-sm-3"  ></div>
            <div class="col-sm-7"></div>
            <div><p-button label="Go" style="margin-left: 30px; margin-top: 15px"(onClick)="getStrategyData()"></p-button>
            <div class="row" style="margin-top: 30px">
                <mat-table [dataSource]="strategies1">
                    <!-- [...] -->
                    <ng-container  matColumnDef="strategyName">
                        <mat-header-cell *matHeaderCellDef>strategyName</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.strategyName}}</mat-cell>
                        </ng-container>

                    <ng-container  matColumnDef="maxProfit">
                        <mat-header-cell *matHeaderCellDef>maxProfit</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.maxProfit}}</mat-cell>
                        </ng-container>

                    <ng-container  matColumnDef="maxLoss">
                        <mat-header-cell *matHeaderCellDef>maxLoss</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.maxLoss}}</mat-cell>
                         </ng-container>

                    <ng-container  matColumnDef="breakevens">
                        <mat-header-cell *matHeaderCellDef>breakevens</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.breakevens}}</mat-cell>
                        </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
                
                    </mat-table>
            
            
            </div>
</div>
</div>
</div>
