<div class="container">
    <div class="row">
        <div class="col-sm-3"  >Menu</div>
        <div class="col-sm-7">
            <div class="row" style="margin-top: 30px">
                <div class="col-sm-3">
                    <p-autoComplete placeholder="Stock Name" [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
                </div>
                <div class="col-sm-3">
                    <p-autoComplete placeholder="View" [(ngModel)]="text1" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
                </div>
                <div class="col-sm-3">
                    <p-autoComplete placeholder="Target" [(ngModel)]="text2" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
                </div>
                <div class="col-sm-3">
                    <p-autoComplete placeholder="Expiry Date" [(ngModel)]="text3" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
                </div>
            </div>
            <div class="row">
                <p-button label="Go" style="margin-left: 15px; margin-top: 15px"></p-button>
            </div>
        </div>
    </div>
</div>
