.toprow{
  height:70%;
}

.widg{
  width: 400px;
  height: 600px;
}

.bottomrow{
  height:30%;
}

.chartcol{
  width:60%;
}

.tablecol{
  width:40%;
}

.full{
  height:660px;
  width:400%;
  frameborder:0;
  scrolling:no;
}
