<div class="container-fluid">
  <div class="toprow">
    <div class="chartcol" style="width:70%">
        <canvas id="dashChart"></canvas>
    </div>
    <div class="tablecol" style="width:30%">

    </div>
  </div>
  <div class="bottomrow">
      <div class="col">
          <div class="row">
                  <p-table #dt [columns]="cols" [value]="holdings" [paginator]="true" [rows]="10" selectionMode="multiple"
                  [(ngModel)]="selectedHoldings" [scrollable]="true" [style]="{width:'1200px'}" ngDefaultControl>
                          <ng-template pTemplate="header" let-columns>
                              <tr>
                                  <th *ngFor="let col of columns">
                                      {{col.header}}
                                  </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-holding let-columns="columns">
                              <tr>
                                  <td *ngFor="let col of columns">
                                          {{holding[col.field]}}
                                  </td>
                              </tr>
                          </ng-template>
                      </p-table>
          </div>
        </div>
  </div>
</div>

